<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog gdpr_modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <i class="fa-solid fa-user-lock icon" aria-hidden="true"></i> Informativa Cookie </b>
                </h5>
                <button type="button" class="btn btn-sm close" data-dismiss="modal" aria-label="Chiudi">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="notice text-justify">
                    Questo sito utilizza ....
                </div>

                <div class="small mt-2 text-muted">
                    <i class="fas fa-check-double" aria-hidden="true"></i> Data ultimo consenso: <span class="last-consent-date"><em>non disponibile</em></span>
                    <a id="deleteconsenso" href="#EliminaUltimoConsenso"><i class="fas fa-trash-alt"></i> elimina</a>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <a class="btn btn-secondary btn-sm float-left" alt="Privacy Policy" href="./privacy_policy.html" target="_blank">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Leggi l'informativa
                </a>

                <a id="accept_policy" class="btn btn-primary btn-sm float-end" data-dismiss="modal"><i class="fas fa-user-check" aria-hidden="true"></i> Ho capito</a>

                <div class="col-12">
                    <small class="small text-muted">Generata con <a title="GDPR Commons" href="https://www.gdprcommons.it" target="_blank">GDPR Commons</a></small>
                </div>
            </div>


        </div>
    </div>
</div>