<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog gdpr_modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <div class="gdpr_semn">
                        <div><i class="bi bi-file-earmark-lock-fill"></i></i> Informativa Cookie </b>
                        </div>
                    </div>
                </h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Chiudi">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="notice">
                    <div class="cookie-text text-justify">
                        Questo sito utilizza ....
                    </div>

                </div>
                <div class="small mt-2 text-muted">
                    <i class="bi bi-check2-all"></i> Ultima accettazione <span id="gpdrdateacceptance"><em>non disponibile</em></span>
                    <a id="deleteconsenso" href="#">(elimina)</a>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <a class="btn btn-secondary btn-sm float-left" alt="Privacy Policy" href="./privacy_policy.html" target="_blank">
                    <i class="bi bi-shield-lock-fill"></i> Leggi l'informativa</a>
                <a id="accept_policy" class="btn btn-primary btn-sm float-end" data-dismiss="modal"><i class="bi bi-person-check-fill"></i> Ho capito</a>
            </div>

        </div>
    </div>
</div>